* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background.png");
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.start-button {
    width: 20vw;
    height: 5vh;
    display: inline-block;
    cursor: pointer;
    background-color: #2a3e83;
    color: white;
    border: 2px solid white;
    text-align: center;
    align-content: center;
}

.background {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.star {
    width: 5vw;
    position: absolute;
    vertical-align: middle;
}