* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.start-background {
    width: 100vw;
    height: 100vh;
    background-image: url("constellation_background.jpg");
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    display: flex;
}

.start-button {
    width: 25vw;
    height: 8vh;
    color: white;
    background-image: url("constellation_background.jpg");
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    align-content: center;
}


.level-background {
    width: 100vw;
    height: 100vh;
    background-image: url("constellation_background.jpg");
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    display: flex;
}

.level_circle {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 50px auto;
}

.level {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #393F86;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    line-height: 40px;
    transform-origin: 0 0;
}

.level:nth-child(1) { transform: rotate(180deg) translate(200px); }
.level:nth-child(2) { transform: rotate(210deg) translate(200px); }
.level:nth-child(3) { transform: rotate(240deg) translate(200px); }
.level:nth-child(4) { transform: rotate(270deg) translate(200px); }
.level:nth-child(5) { transform: rotate(300deg) translate(200px); }
.level:nth-child(6) { transform: rotate(330deg) translate(200px); }
.level:nth-child(7) { transform: rotate(0deg) translate(200px); }
.level:nth-child(8) { transform: rotate(30deg) translate(200px); }
.level:nth-child(9) { transform: rotate(60deg) translate(200px); }
.level:nth-child(10) { transform: rotate(90deg) translate(200px); }
.level:nth-child(11) { transform: rotate(120deg) translate(200px); }
.level:nth-child(12) { transform: rotate(150deg) translate(200px); }

.level span {
    display: block;
}

.level:nth-child(1) span  { transform: rotate(-180deg) }
.level:nth-child(2) span  { transform: rotate(-210deg) }
.level:nth-child(3) span  { transform: rotate(-240deg) }
.level:nth-child(4) span  { transform: rotate(-270deg) }
.level:nth-child(5) span  { transform: rotate(-300deg) }
.level:nth-child(6) span  { transform: rotate(-330deg) }
.level:nth-child(7) span  { transform: rotate(0deg) }
.level:nth-child(8) span  { transform: rotate(-30deg) }
.level:nth-child(9) span  { transform: rotate(-60deg) }
.level:nth-child(10) span  { transform: rotate(-90deg) }
.level:nth-child(11) span  { transform: rotate(-120deg) }
.level:nth-child(12) span  { transform: rotate(-150deg) }


.star-background {
    width: 100vw;
    height: 100vh;
    background-image: url("constellation_background.jpg");
    background-size: cover;
    background-position: center;
}

.star {
    width: 5vw;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
}

.level_menu_button {
    width: 6vw;
    position: absolute;
    left: 3vh;
    top: 3vh;
}

.end-background {
    width: 100vw;
    height: 100vh;
    background-image: url("constellation_background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    justify-items: center;
}

.end-next-button {
    width: 25vw;
    height: 8vh;
    background-color: #393F86;
    align-content: center;
    border: 1px solid white;
}

.end-next-button span {
    color: white;
}