.background {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;    
}

.star {
    width: 20vw;
    position: absolute;
}